{% block footer %}
{% load static %}
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title">Sign Up For A Newsletter</h5>
							<p class="text-capitalize m-b20">Weekly Breaking news analysis and cutting edge advices on job searching.</p>
                            <div class="subscribe-form m-b20">
								<form class="subscription-form" action="" method="post">
									<div class="ajax-message"></div>
									<div class="input-group">
										<input name="email" required="required"  class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-16 col-lg-5 col-md-7 col-sm-16">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Surfa</h5>
									<ul>
										<li><a href="{% url 'home' %}">Home</a></li>
										<li><a href="/about1">About</a></li>
										<li><a href="/contact1">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Get In Touch</h5>
									<ul>
										<li><a href="#">blog/projects</a></li>
										<li><a href="https://medium.com/@surfaorg">Blog</a></li>
										<li><a href="/portfolio">Projects</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Our Service</h5>
									<ul>
										<li><a href="https://surfa.godaddysites.com/">Our Service</a></li>
										<li><a href="/membership">Membership</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
					<div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                        <div class="widget widget_gallery gallery-grid-4">
                            <h5 class="footer-title">Our Gallery</h5>
							<ul class="magnific-image">
								<li><a href="{% static 'assets/images/portfolio/image1.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image2.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image2.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image3.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image3.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image4.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image4.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image5.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image5.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image6.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image6.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image7.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image7.jpg' %}" alt=""></a></li>
								<li><a href="{% static 'assets/images/portfolio/image8.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/portfolio/image8.jpg' %}" alt=""></a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"><span class="copyright">&copy; Copyright 2022,Surfa.com,inc.or its affiliates. SURFA  Conditions of UsePrivacy NoticeInterest-Based Ads <a href="#"> SURFA </a></span></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap/js/popper.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap-select/bootstrap-select.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js" %}"></script>
<script src="{% static "assets/vendors/magnific-popup/magnific-popup.js" %}"></script>
<script src="{% static "assets/vendors/counter/waypoints-min.js" %}"></script>
<script src="{% static "assets/vendors/counter/counterup.min.js" %}"></script>
<script src="{% static "assets/vendors/imagesloaded/imagesloaded.js" %}"></script>
<script src="{% static "assets/vendors/masonry/masonry.js" %}"></script>
<script src="{% static "assets/vendors/masonry/filter.js" %}"></script>
<script src="{% static "assets/vendors/owl-carousel/owl.carousel.js" %}"></script>
<script src="{% static "assets/js/functions.js" %}"></script>
<script src="{% static "assets/js/contact.js" %}"></script>
<script src="{% static "assets/vendors/switcher/switcher.js" %}"></script>
<!-- Revolution JavaScripts Files -->
<script src="{% static "assets/vendors/revolution/js/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/jquery.themepunch.revolution.min.js" %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.carousel.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.migration.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.parallax.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
<script src="{% static "assets/vendors/revolution/js/extensions/revolution.extension.video.min.js" %}"></script>

{% endblock footer %}