{% extends 'surfa/base.html' %}
    <!-- header END ==== -->
    <!-- Content -->
{% block content %}
{% load static %}
<div class="page-wraper">
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url({% static "assets/images/banner/banner1.jpg" %});">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">projects</h1>
				</div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>projects</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Portfolio  -->
			<div class="section-area section-sp1 gallery-bx">
				<div class="container">
					<div class="feature-filters clearfix center m-b40">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="#"><span>All</span></a> 
							</li>
							<li data-filter="book" class="btn">
								<input type="radio">
								<a href="#"><span>----</span></a> 
							</li>
						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="ttr-gallery-listing magnific-image row">
							{% for Post_Projects  in Post_Projects_list %}
							<li class="action-card col-lg-3 col-md-4 col-sm-6 book">
								<div class="ttr-box portfolio-bx">
									<div class="ttr-media media-ov2 media-effect">
										<a href="javascript:void(0);">
											<img src="{{ Post_Projects.image.url }}" alt=""> 
										</a>
										<div class="ov-box">
											<div class="overlay-icon align-m"> 
												<a href="{{ Post_Projects.image.url }}" class="magnific-anchor" title="{{Post_Projects.title}}">
													<i class="ti-search"></i>
												</a>
											</div>
											<div class="portfolio-info-bx bg-primary">
												<h4><a href="{{Post_Projects.url}}">{{Post_Projects.title}}</a></h4>
												
											</div>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
        </div>
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 margin-bottom30">
						<div class="feature-icon-wrap services-icons clearfix">
							<div class="left-side-icon">
								<i class="ion-ios-paperplane-outline front-icon"></i>
							</div>
							<div class="features-text-right">
								<h3>Marketing</h3>
								<p>
									Surfa explore, create and deliver value to meet the needs of it's clients. Surfa also provides service to their customers use to increase brand awareness and sales.
								</p>
							</div>
						</div>
					</div><!--services col-->
					<div class="col-sm-6 margin-bottom30">
						<div class="feature-icon-wrap services-icons clearfix">
							<div class="left-side-icon">
								<i class="ion-ios-browsers-outline front-icon"></i>
							</div>
							<div class="features-text-right">
								<h3>Software,Web & Graphics design</h3>
								<p>
									Surfa design and create quality websites and software application which are reliable, secure easy-to-use,affordable, easy-to-deploy, and scalable.We also offer optimization services that include monitoring and refining existing website.
								</p>
							</div>
						</div>
					</div><!--services col-->
				</div><!--services row-->
				<div class="row">
					<div class="col-sm-6 margin-bottom30">
						<div class="feature-icon-wrap services-icons clearfix">
							<div class="left-side-icon">
								<i class="ion-ios-world-outline front-icon"></i>
							</div>
							<div class="features-text-right">
								<h3>Social Media</h3>
								<p>
									Connect with us on any social media platform.
								</p>
							</div>
						</div>
					</div><!--services col-->
					<div class="col-sm-6 margin-bottom30">
						<div class="feature-icon-wrap services-icons clearfix">
							<div class="left-side-icon">
								<i class="ion-ios-color-wand-outline front-icon"></i>
							</div>
							<div class="features-text-right">
								<h3>Creative ideas</h3>
								<p>
									We discover and define ideas, create and design visuals, develop a site, test, and go lives.
								</p>
							</div>
						</div>
					</div><!--services col-->
				</div><!--services row-->
				<div class="row">
					<div class="col-sm-6 margin-bottom30">
						<div class="feature-icon-wrap services-icons clearfix">
							<div class="left-side-icon">
								<i class="ion-ios-crop front-icon"></i>
							</div>
							<div class="features-text-right">
								<h3>Responsive Design</h3>
								<p>
									Responsive web design and development to enhance good looking appearance of all websites on all user devices irrespective the user's device screen.
								</p>
							</div>
						</div>
					</div><!--services col-->
					<div class="col-sm-6 margin-bottom30">
						<div class="feature-icon-wrap services-icons clearfix">
							<div class="left-side-icon">
								<i class="ion-ios-people-outline front-icon"></i>
							</div>
							<div class="features-text-right">
								<h3>Customer Support</h3>
								<p>
									We assist our Customers promoting their business's brand name. We also assist Customers in getting a mobile version of their existing website to add more traffic(increase their website viewers) to their site.
								</p>
							</div>
						</div>
					</div><!--services col-->
				</div><!--services row-->
			</div>
		</div><!--services section end-->
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer ==== -->
    {% block footer %}
	{% include 'surfa/footer.html' %}
	{% endblock footer %}
{% endblock content %}