<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- FAVICONS ICON ============================================= -->
    {% comment %} <link rel="icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/images/favicon.png" %}" /> {% endcomment %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}"/>
    <link rel="manifest" href="{% static "manifest.json" %}"/>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="SURFA" />
    <meta name="author" content="SURFA" />
    <meta name="robots" content="" />
    
    <!-- DESCRIPTION -->
    <meta name="description" content="SURFA" />
    
    <!-- OG -->
    <meta property="og:title" content="SURFA" />
    <meta property="og:description" content="SURFA" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">
    
    
    <!-- PAGE TITLE HERE ============================================= -->
    <title>surfa </title>
    
    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}>

    <!-- Main css -->
    <link rel="stylesheet" href={% static "css/style.css" %}>

</head>
<body>
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Password reset complete</h2>
                    <hr>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <a href="/login" class="btn btn-primary">Log in</a>                 
                </div>
                <div class="signup-image">
                    <figure><img src={% static "images/10copy.png" %} alt="sing up image"></figure>
                    <a href="{% url 'accounts:login' %}" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
<!-- External JavaScripts -->
<!-- JS -->
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>
</html>