/********

services icons css

********/

.feature-icon-wrap {
    position: relative;
    padding-bottom: 40px;
    margin: 0px;
}

.feature-icon-wrap .left-side-icon {
    float: left;
}

.feature-icon-wrap .left-side-icon .front-icon {
    font-size: 3em;
    color: #000080;
}

.back-icon {
    z-index: -1;
    color: #F0F0F0;
    position: absolute;
    padding-left: 40px;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
}

.feature-icon-wrap .features-text-right {
    padding-left: 40px;
    overflow: hidden;
}

.features-text-right h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

.services-icons .left-side-icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #000080;
}